html {
    font-family: monospace;
    background-color: black;
    color: white;
}
a {
    color: #0cf;
    text-decoration: none;
}
a:hover {
    color: #4df;
}
a:active {
    color:#8ef;
}
th {
    padding: 6px;
    margin: 10px;
}
td {
    padding: 6px;
    margin: 10px;
}
table.border {
    text-align: center;
    border-collapse: collapse;
}
td.border {
    border: 1px solid white;
}
#path {
    animation: fade-in 2s linear forwards;
}
.one {
    animation: slide-in 1s ease 1s forwards;
    opacity: 0%;
}
.two {
    animation: slide-in 1s ease 1.5s forwards;
    opacity: 0%;
}
.three {
    animation: slide-in 1s ease 2s forwards;
    opacity: 0%;
}
.four {
    animation: slide-in 1s ease 2.5s forwards;
    opacity: 0%;
}
.five {
    animation: slide-in 1s ease 3s forwards;
    opacity: 0%;
}
@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
@keyframes slide-in {
    from {
        transform: translateX(-8%);
        opacity: 0%;
    }
    to {
        transform: translateX(0);
        opacity: 100%;
    }
}